.item-name{
    font-size: 25px;
    text-align: center;
}

.content{
    border-bottom: solid 1px #eeeeee;
    margin-bottom: 10px;
}

.content-end{
    margin-bottom: 10px;
}

.gray{
    color: gray;
}

#updated-at{
    font-size: 12px;
    text-align: right;
}